RewriteEngine On

RewriteRule ^admin-ajouter-un-article$ admin/addArticleAdmin.php
RewriteRule ^admin-ajouter-un-jeu$ admin/addGameAdmin.php
RewriteRule ^admin-ajouter-un-mod$ admin/addModAdmin.php
RewriteRule ^liste-admin-articles$ admin/articlesListAdmin.php
RewriteRule ^administration$ admin/dashboardAdmin.php
RewriteRule ^admin-liste-des-jeux$ admin/gamesListAdmin.php
RewriteRule ^admin-liste-des-mods$ admin/modsListAdmin.php
RewriteRule ^admin-liste-des-utilisateurs$ admin/usersListAdmin.php
RewriteRule ^admin-modification-jeux_([0-9]+)$ admin/gameModifAdmin.php?id=$1
RewriteRule ^admin-modification-article_([0-9]+)$ admin/articleModifAdmin.php?id=$1
RewriteRule ^admin-modification-mod_([0-9]+)$ admin/modsModifAdmin.php?id=$1

RewriteRule deconnexion logOut.php


RewriteRule accueil index.php
RewriteRule jeux gamesList.php
RewriteRule pageJeux_([0-9]+) game.php?id=$1
RewriteRule ^mods$ modsList.php
RewriteRule ^pageMods_([0-9]+)$ mod.php?id=$1
RewriteRule article-de-presse pressArticlesList.php
RewriteRule ^test$ gameTest.php
RewriteRule rediger-un-avis addReview.php
RewriteRule espace-utilisateur myDashboard.php
RewriteRule ^utilisateur-modification$ myDashboardModif.php
RewriteRule connexion connection.php
RewriteRule inscription registration.php
RewriteRule mentions-Legales mentionsLegales.php
RewriteRule contact contact.php
RewriteRule premiere-visite premiereVisite.php
RewriteRule ^evaluation_([0-9]+)$ addEvaluation.php?id=$1
RewriteRule ^commentaire_([0-9]+)$ addComment.php?id=$1
RewriteRule ^user-modification-commentaire_([0-9]+)$ addCommentModif.php?id=$1
RewriteRule ^user-modification-avis_([0-9]+)$ addEvaluationModif.php?id=$1
RewriteRule ^page-Article-Presse_([0-9]+)$ article.php?id=$1
RewriteRule ^selection_moment_([0-9]+)$ selectionmoment.php?id=$1
RewriteRule erreur_404 page404.php

  

RewriteRule utilisateur-ajouter-un-mod addMod.php
RewriteRule mes-avis addOpinion.php
RewriteRule mes-commentaires addCommentUsers.php